/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * JustDesserts implementation : © Séverine Kamycki severinek@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * justdesserts.css
 *
 * JustDesserts stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (justdesserts_justdesserts.tpl), and to HTML elements you create dynamically
    (in justdesserts.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
#guest_line {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}

#board {
   display: inline-block;
}

#guest_draw {
    margin-bottom: 8px;
    margin-right: 0px;
}

.jd_pile, .stockitem  {
    width: 150px;
    height: 233px;
    border-radius: 20px;
}

.jd_discard {
    background-image: none !important;
}

.jd_empty {
    border-style: dashed;
    border-color: darkgrey;
    border-width: 2px;
    height: 233px !important;
    box-sizing: border-box;
}

.jd_guest_pile {
    background-image: url('img/guests150.jpg');
}

.jd_piles {
    margin-right: 10px;
}

.jd_guestsname {
    font-weight: bold;
}

.jd_guests {
    height: 233px;
    display: inline-block;
}

#guests_on_table_wrapper {
    width: 100%;
    display: inline-block;
}

#myhand div {
    display: inline-grid;
}

.jd_favorite{
    font-weight: bold;
}

.jd_cards_icon {
    width: 30px;
    height: 23px;
    background: url("img/player_cards_icon1.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

@media only screen and (min-width: 1100px) {

    .jd_piles {
        margin-right: 10px;
        display: inline-flex;
        flex-direction: row;
    }

    #guest_draw {
        margin-right: 8px;
    }
  }